extends ../layouts/info-layout


block content
	h2 Hello

	if user
		h10 #{user.username} 
		br
		h10 #{user.email}
	else
		h7 Use the button in the header to sign in



block scripts		
	script(src="https://login.persona.org/include.js")
	script(src='/auth.js')
