extends ../layouts/normal-layout

block title
	title Home - ProtoBowl

block content
	if user
		h2 Hello #{user.email}!
		h4 All your base are belong to us.
	else
		h2 Please Sign In
		p 
			a.btn(href='/signin') Sign in

	hr 

	blockquote
		p Look at the stars
		p Look how they shine for you
		p And everything you do
		p Yeah, they were all yellow
		small Coldplay

	hr

	blockquote
		p For any complex problem, there is always a solution that is simple, clear, and wrong
		small H. L. Mencken

	hr

	blockquote
		p Welcome to Kansas City, a place where bandwidth flows like water
		small Google Fiber Keynote