extends ../layouts/normal-layout

block title
	title Home - ProtoBowl

block precontainer
	div.jumpotron.masthead
		div.container
			h1 Protobowl
			p Realtime Multiplayer Online QuizBowl

	//- h3 Welcome to Protobowl
	//- p If you want to learn more about the site or who made it checkout out our  
	//- 	a(href='/about') 
	//- 		| about page

	//- p Protobowl, as the name suggests, is definetly not a finished product, if you
	//- 	| have any helpful critisim or feedback drop us a line in our  
	//- 	a(href='/feedback')   
	//- 		| feedback form  
	//- 	| hit us up on twitter 
	//- 	a(href="https://twitter.com/protobowl")  
	//- 		| @protobowl
	//- 	| or email us at  
	//- 	a(href="mailto:info@protobowl.com")  
	//- 		| info@protobowl.com

block content

	hr 

	h3 Join a Room

	table.table
		thead
			tr
				th Room Name
				th Difficulty
				th #
		tbody
			td
				a(href="/lobby") lobby
			td Any
			td probably should do this



	p this is one of thee components in a row

	h3 Contact Us








	//- 	br
	//- 	br
	//- 	br
	//- blockquote
	//- 	p Look at the stars
	//- 	p Look how they shine for you
	//- 	p And everything you do
	//- 	p Yeah, they were all yellow
	//- 	small Coldplay

	//- hr

	//- blockquote
	//- 	p For any complex problem, there is always a solution that is simple, clear, and wrong
	//- 	small H. L. Mencken

	//- hr

	//- blockquote
	//- 	p Welcome to Kansas City, a place where bandwidth flows like water
	//- 	small Google Fiber Keynote