extends ../layouts/normal-layout

block title
	title Home - ProtoBowl

block precontainer
	div.hero-unit
		div.container
			h1 ProtoBowl
			p Realtime Multiplayer Online Quizbowl

	//- p Protobowl, as the name suggests, is definetly not a finished product, if you
	//- 	| have any helpful critisim or feedback drop us a line in our  
	//- 	a(href='/feedback')   
	//- 		| feedback form  
	//- 	| hit us up on twitter 
	//- 	a(href="https://twitter.com/protobowl")  
	//- 		| @protobowl
	//- 	| or email us at  
	//- 	a(href="mailto:info@protobowl.com")  
	//- 		| info@protobowl.com

block content
	div.container.marketing
		div.row
			div.span4
				img.img-circle(src="http://placehold.it/140x140")
				h2 Teams
				p Group up with your friends and get answering.
					| There is full team functionality and really
					| whats better than using your friends to win.
				p
					a(href="/lobby") Get Teamed Up
			div.span4
				img.img-circle(src="http://placehold.it/140x140")
				h2 Questions
				p With nearly 40,000 questions in the database, 
					| and more being added every day ProtoBowl
					| has the largest and most diverse collection
					| of QuizBowl questions in one place.
				p
					a(href="/lobby") Explore the Database
			div.span4
				img.img-circle(src="http://placehold.it/140x140")
				h2 Fun
				p If practicing with friends at school is fun for you
					| than ProtoBowl will be perfect, it's exactly the same
					| just online.
				p
					a(href="/lobby") Start Having Fun



	hr.featurette-divider
	div.featurette
		img.featurette-image.pull-right(src="./img/chrome.png")
		h2.featurette-heading We so gud
		p.lead rawawrawrawra


	hr.featurette-divider
	div.featurette
		img.featurette-image.pull-left(src="./img/chrome.png")
		h2.featurette-heading
		p.lead rawawrawrawra


	hr.featurette-divider
	div.featurette
		img.featurette-image.pull-right(src="./img/chrome.png")
		h2.featurette-heading
		p.lead rawawrawrawra



	//- 	br
	//- 	br
	//- 	br
	//- blockquote
	//- 	p Look at the stars
	//- 	p Look how they shine for you
	//- 	p And everything you do
	//- 	p Yeah, they were all yellow
	//- 	small Coldplay

	//- hr

	//- blockquote
	//- 	p For any complex problem, there is always a solution that is simple, clear, and wrong
	//- 	small H. L. Mencken

	//- hr

	//- blockquote
	//- 	p Welcome to Kansas City, a place where bandwidth flows like water
	//- 	small Google Fiber Keynote
	
