extends ../layouts/info-layout

block title
	title Home - ProtoBowl

block content
	div.hero-unit
		h1 ProtoBowl
		p Realtime Multiplayer Online Quizbowl

	//- 	a(href="https://twitter.com/protobowl")  
	//- 		| @protobowl
	//- 	| or email us at  
	//- 	a(href="mailto:info@protobowl.com")  
	//- 		| info@protobowl.com

	div.container.marketing
		div.row
			div.span4
				img.img-circle(src="http://placehold.it/140x140")
				h2 Teams
				p Group up with your friends and get answering.
					| There is full team functionality and really
					| whats better than using your friends to win.
				p
					a(href="/lobby") Get Teamed Up
			div.span4
				img.img-circle(src="http://placehold.it/140x140")
				h2 Questions
				p With nearly 40,000 questions in the database, 
					| and more being added every day ProtoBowl
					| has the largest and most diverse collection
					| of QuizBowl questions in one place.
				p
					a(href="/lobby") Explore the Database
			div.span4
				img.img-circle(src="http://placehold.it/140x140")
				h2 Fun
				p If practicing with friends at school is fun for you
					| than ProtoBowl will be perfect, it's exactly the same
					| just online.
				p
					a(href="/lobby") Start Having Fun



	hr
	blockquote
		p Home is where the heart is
		small Hammer Man, Dr. Horrible's Sing Along Blog

	hr
	blockquote
		p Well, sir, it's this rug I had. It really tied the room together.
		small The Dude, The Big Lebowski

	hr
	blockquote
		p Soylent Green is people!
		small Thorn, Soylent Green





	hr.featurette-divider
	div.featurette
		img.featurette-image.pull-right(src="./img/chrome.png")
		h2.featurette-heading We so gud
		p.lead rawawrawrawra


	hr.featurette-divider
	div.featurette
		img.featurette-image.pull-left(src="./img/chrome.png")
		h2.featurette-heading
		p.lead rawawrawrawra


	hr.featurette-divider
	div.featurette
		img.featurette-image.pull-right(src="./img/chrome.png")
		h2.featurette-heading
		p.lead rawawrawrawra

