extends ../layouts/info-layout

block title
	title Home - ProtoBowl

block content
	.hero-unit
		.container
			h1 Proto<span style="font-weight:normal">Bowl</span>
			h2 Realtime Multiplayer Online QuizBowl
	.social
		.container
			ul.social-buttons
				li <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fprotobowl&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=111694105666039" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
				li twitter follow button
				li twitter tweet button
	.container
		.marketing
			h2 Say Hello to Your new Favorite <strike><span style="font-weight:normal"> Game </strike>, 
				| <strike><span style="font-weight:normal"> Study Tool </strike>, 
				| <strike><span style="font-weight:normal">Way to Procrastate </strike>, 
				| Addiction.
			h3 Wanna Know More? Look No Further.
			
			.row-fluid
				.span4
					img
					h2 A Title
					p Some important words
				.span4
					img
					h2 A Title
					p Some important words
				.span4
					img
					h2 A Title
					p Some important words