extends ../layouts/info-layout

block title
	title Home - ProtoBowl

block content
	.hero-unit
		.container
			h1 Proto<span style="font-weight:normal">Bowl</span>
			h2 Realtime Multiplayer Online QuizBowl\
		.row
			.span12(style="text-align:center;")
				ul
					li.span3.box(style="list-style: none;")
						h1 Rawr
						p Rawr
						p Rawr
						p Rawr
						p Rawr
					li.span3.box(style="list-style: none")
						h1 Whoa
						p whoa
						p whoa
						p whoa				
						p whoa
					li.span3.box(style="list-style: none")
						h1 BOX
						p box
						p box
						p box
						p box




	


	//- hr
	//- blockquote
	//- 	p Home is where the heart is
	//- 	small Hammer Man, Dr. Horrible's Sing Along Blog

	//- hr
	//- blockquote
	//- 	p Well, sir, it's this rug I had. It really tied the room together.
	//- 	small The Dude, The Big Lebowski

	//- hr
	//- blockquote
	//- 	p Soylent Green is people!
	//- 	small Thorn, Soylent Green

	//- hr
	//- blockquote
	//- 	p Pleased to meet you, hope you guess my name. 
	//- 	p Ah, what's puzzling you is the nature of my game.
	//- 	small Sympathy for the Devil, Rolling Stones

