extends ../layouts/game-layout

block content
	p Probably some basic information goes here
		| as well as a plea to sign up


	p The active rooms thing probably will go here
		| along with an interface for making new rooms

