extends ../layouts/info-layout

block title
	title Login - ProtoBowl 

block content
	div.hero-unit
		h1 YO DIS DA SIGNIN PAGE
		p DIS IS A SIGNIN PAGE, WHAT U THINK IM A STUPID? I TOOK IT AND I THREW IT ON THE GROUNNDDDD
		p
			a.btn.btn-primary.btn-large(href='/signin') Sign in

