!!!
html(lang="en")
	head
		title fix this - ProtoBowl 
		meta(charset="utf8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords", content="protobowl,quizbowl,application,reader,academic,multiplayer,practice")
		meta(name="description", "A real time multiplayer quizbowl application")

		link(rel='stylesheet', href='/protobowl.css')
	header
		div.navbar.navbar-top
			div.navbar-inner
				div.container
					a.brand(href="/")
						strong Proto
						| Bowl 
						em.motto.hidden-phone(style="font-size: small")
							| doing one thing and doing it acceptably well

					if user
						a.btn(href='/user/profile') #{user.username}

						script 
							var loggedInUser = '#{user.email}'

					else
						form(id="login-form", action="/auth/browserid", method="POST", style="display:none")
							input(id="assertion-field", type="hidden", name="assertion", value="")

						a.btn(href='javascript:navigator.id.request();')#browserid Sign in

						script
							var loggedInUser = null


					div.pull-right
						a.btn.btn-primary.new-room(href="/new") New Room
		body
			block content
			block scripts
		footer
			script(type="text/javascript")
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-34434821-1']);
				_gaq.push(['_trackPageview']);

			script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
			// if(typeof jQuery == 'undefined') document.write(unescape("%3Cscript%20src%3D%22lib/jquery.min.js%22%3E%3C/script%3E"));


			script(type="text/javascript")
				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
