extends ../layouts/game-layout


block scripts
	if user
		script
			logged_in_user = "#{user.email}";
	form#browserid(action="/auth/browserid", method="post", style="display:none")
		input(type="hidden", name="assertion", id="assertion")
		input(type="hidden", name="return", id="return")

	script(src="/auth.js")

	script(type="text/javascript")
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-34434821-1']);
		_gaq.push(['_trackPageview']);

	script(type="text/javascript")
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

