extends base-layout

block content
	.container-fluid
		.row-fluid

			.span3
				block three
			

			.span9
				block nine
				

block scripts
	if user
		script
			logged_in_user = "#{user.email}";
	form#browserid(action="/auth/browserid", method="post", style="display:none")
		input(type="hidden", name="assertion", id="assertion")
		input(type="hidden", name="return", id="return")
