extends ../layouts/user-layout

block title
	title Profile - ProtoBowl

block content
	.span9
		h2 Profile
		hr
		img(src='http://gravatar.com/avatar/' + hashed_email)	

		
		h3 Username: #{user.username}
		h3 Email: #{user.email}
		h3 Ninja:
			if user.ninja == 0
				|  No
			else if user.ninja == 1
				|  Ninja >><< PEWPEW
			else if user.ninja == 2
				| SUPER FUCKING NINJA PEW
			else
				| NO

		hr

		blockquote
			p Half Man, Half Machine, All Cop
			small RoboCop

		hr

		blockquote
			p We're half awake
			p In a fake empire
			small The National

		hr

		blockquote
			p Americans are fat, retarded and lazy, but not crazy.
			small B. Ryan Vest

		hr

		blockquote
			p There is a natural order to this world, and those who try to upend it do not fare well.
			small Hugo Weaving, Cloud Atlas

		hr

		blockquote
			p 
				| There's a storm coming, Mr. Wayne, you and your boys 
				| better batten down the hatches because when it hits, 
				| you're all going to wonder how you could ever live so 
				| large and leave so little for the rest of us.
			small Anne Hathaway, The Dark Knight Rises
