extends ../layouts/user-layout

block title
	title Profile - ProtoBowl

block content
	h2 Profile
	hr
	img(src='http://gravatar.com/avatar/' + hashed_email)	



	block nine
		if self
			h1 SELF
		h3 Username: #{data.username}

	
	