extends ../layouts/user-layout


block title
	title Settings - Protobowl


block three
	.well.sidebar-nav
		ul.nav.nav-list
			li.nav-header User
			li
				a(href="/user/profile") Profile
			li
				a(href="/user/stats") Statistics
			li.active
				a(href="/user/settings") Settings
			//- li
			//- 	a(href="/user/achievements") Achievements
			//- li.nav-header Social
			//- li
			//- 	a(href="/protofrands") Protofrands
			//- li
			//- 	a(href="/protofrands/leaderness") Leaderboard
			//- li
			//- 	a(href="/protofrands/chat") Frandchat 


block nine
	h1 There are settings here, you just have to change the settings to turn them on!

	form(action='/set-settings', method='post').form-horizontal
		div.control-group
			label.control-label(for="username") Username: 
			div.controls
				input(type='text', name="username", value="#{user.username}").input-large#username
		div.control-group
			label.control-label(for="")
		div.control-group
			div.controls
				button(type='submit').btn#feedbacksubmit Submit

	hr

	blockquote
		p Look at the stars
		p Look how they shine for you
		p And everything you do
		p Yeah, they were all yellow
		small Coldplay

	hr

	blockquote
		p For any complex problem, there is always a solution that is simple, clear, and wrong
		small H. L. Mencken

	hr

	blockquote
		p Welcome to Kansas City, a place where bandwidth flows like water
		small Google Fiber Keynote

	hr

	blockquote
		p It's a brand new day and the sun is high, all the birds are singing that you're gunna die
		small Dr. Horrible


	hr
		blockquote
			p Do not try to bend the spoon - that's impossible. Instead, only try to realize the truth: there is no spoon.
			small The Matrix
