extends ../layouts/user-layout


block title
	title Stats - ProtoBowl

block content

	h2 Hello #{user.username}

	h4 LIKE SABERMETRICS D00d?

	hr

	blockquote
		p WHEN I heard the learn’d astronomer;	 
		p When the proofs, the figures, were ranged in columns before me;	 
		p When I was shown the charts and the diagrams, to add, divide, and measure them;	 
		p When I, sitting, heard the astronomer, where he lectured with much applause in the lecture-room,	 
		p How soon, unaccountable, I became tired and sick;	         5
		p Till rising and gliding out, I wander’d off by myself,	 
		p In the mystical moist night-air, and from time to time,	 
		p Look’d up in perfect silence at the stars.
		small W.W.

	hr 

	blockquote
		p 
			| There is no justice in the laws of Nature, Headmaster, 
			| no term for fairness in the equations of motion. 
			| The universe is neither evil, nor good, it simply does not care. 
			| The stars don't care, nor the Sun, nor the sky. 
			| But they don't have to! We care! 
			| There is light in the world, and it is <em>us</em>.
		small Eliezer Yudkowsky, Harry Potter and the Methods of Rationality

	hr

	blockquote
		p There are worse things than seeming irresponsible. Losing, for example.
		small Paul Graham

	hr

	blockquote
		p What I cannot create, I do not understand.
		small Richard P. Feynman, his blackboard at time of death

	hr 
	
	blockquote
		p God is who he is, and our challenge should be to know him, not try to create him.
		small Chuck Missler, Transcendent Man