extends ../layouts/user-layout


block title
	title Stats - ProtoBowl

block nine
	h2 Hello #{user.username}

	h4 LIKE SABERMETRICS D00d?

	#pie
	#bar
	#area
		
block scripts
	script(src="/stats.js")
